@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');


@each $weight in 100, 200, 300, 400, 500, 600, 700, 800, 900 {
  .lexend-#{$weight} {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: #{$weight};
  font-style: normal;
  }
}